body{
    background-image: url("../Selfie.jpg");
}
a {
    color: wheat;
}

div{
    position: relative;
    text-align: center;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0% {top: 0px;}
    50% {top: 900px;}
    100% {top: 0px;}
}
