body{
    background-color: lightslategrey;
}

#headerWrapper{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    display: flex;
    background-color: black;
    justify-content: space-around;
}

#headerWrapper a{
    color: white;
}

#video{
    height: 600px;
    width: 400px;
    padding-left: 35%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #video {
        padding-left: 0px;
    }

    #headerWrapper{
        font-size: 10pt;
  }

}
